.customSelect {
  position: relative;

}

.selectLabel {
  display: block;
  margin-bottom: 0.5em;
}

.select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 16px;
  border: 1px solid rgb(42, 47, 55, 0.1);
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;

  transition: all ease 0.3s;
}

.select:hover,
.select:focus {
  outline: none;
  border-color: var(--color-blue);
}

.select option {
  color: var(--color-black);
}