.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filterRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px 0;
}

.containerTable {
  max-width: 100%;
  width: 100%;
  overflow-y: hidden;
}

.table {
  overflow-x: auto;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0 8px;
  padding-bottom: 90px;
}

.table th {
  font-size: 12px;
  opacity: 60%;
  font-weight: bold;
  text-align: left;
  padding: 12px 0 12px 24px;
  background-color: #ffffff;
  white-space: nowrap;

  transition: all ease 0.3s;
}

.table td {
  padding: 28px 14px 28px 24px;
  background-color: #ffffff;
  margin-bottom: 8px;
  white-space: nowrap;
  color: var(--color-black) !important;
}

.titleActive {
  cursor: pointer;
}

.titleActive:hover {
  cursor: pointer;
  opacity: 1;
}


.seach {
  display: flex;
  align-items: center;
  width: 100%;
}

.filterSelect {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
}

.input {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
  border: none;
  background-color: #ffffff;
  border: 1px solid rgb(42, 47, 55, 0.1);
  border-radius: 4px;
}

.input::placeholder {
  opacity: 0.6;
}

.input:focus {
  outline: 0;
  border-color: var(--color-blue);
}



@media (max-width: 950px) {
  .filterRow {
    flex-direction: column;
    gap: 20px;
  }
}


