.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.text {
  opacity: 80%; 
  color: #424242; 
  font-size: 16px;
  line-height: 24px;
}

.title {
  color: #2C2D2E; 
  font-size: 48px; 
  font-weight: 700; 
}

.img {
  max-width: 500px;
  padding: 0 50px;
}

@media (max-width: 890px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
  }

  .title {
    font-size: 36px; 
  }

  .text {
    display: none;
  }

  .img {
    max-width: 400px;
    padding: 0 50px;
  }
}

@media (max-width: 480px) {
  .img {
    max-width: 350px;
    padding: 0 50px;
  }

  .title {
    font-size: 30px; 
  }
}

@media (max-width: 360px) {
  .container {
    padding: 40px 0;
  }

  .img {
    max-width: 300px;
    padding: 0 50px;
  }

  .title {
    font-size: 24px; 
  }
}