.wrapper {
  background-color: #FFFFFF;
}

.container {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.centerSection {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  max-width: 566px;
}

.rightSection {
  flex-shrink: 0;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 102px;
  height: 20px;
  text-decoration: none;
  cursor: pointer;
}

.logoImg {
  height: 100%;
  width: 100%;
}

.seach {
  display: flex;
  align-items: center;
}

.searchInput {
  height: 36px;
  width: 100%;
  padding: 6px 8px;
  outline: none;
  border: 1px solid var(--color-blue);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #424242;
}

.searchButton {
  height: 36px;
  background-color: var(--color-blue);
  color: #F2F2F2;
  font-weight: 500;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 26px;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;

  transition: all ease 0.3s;
}

.searchButton:hover {
  background-color: var(--color-blue-hover);
}

.buttonCreateAd {
  height: 36px;
  background-color: var(--color-yellow);
  border-radius: 4px;
  color: var(--color-dark-black);
  padding: 0 26px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  text-align: center;
  cursor: pointer;

  transition: all ease 0.3s;
}

.buttonCreateAd:hover {
  background-color: var(--color-yellow-hover);
}

.loginButton {
  color: var(--color-gray);
  stroke: var(--color-gray);
  cursor: pointer;
  text-decoration: none;

  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-left: 16px;
  align-items: center;


  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.loginButton svg path {
  opacity: 40%;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.loginButton:active,
.loginButton:hover {
  color: var(--color-blue);
}

.loginButton:active svg path,
.loginButton:hover svg path {
  opacity: 100%;
  stroke: var(--color-blue);
}

.dropdownMenu {
  position: relative;
}

@media (max-width: 1180px) {
  .loginButtonTitle {
    display: none;
  }
}

@media (max-width: 768px) {
  .buttonCreateAd {
    display: none;
  }
} 

@media (max-width: 535px) {
  .seach {
    display: none;
  }
} 