.banner {
  width: 100%;
  background-color: #FFFFFF;
}

.category {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.category::-webkit-scrollbar {
  display: none;
}

.contentWrapper {
  padding: var(--pd40);
}

.content h2 {
  margin: 0;
  padding-top: 80px;
  font-size: 24px;
  font-weight: 700;
}

.buttonWrapper {
  display: block;
  text-align: center;
  padding-top: 40px;
}

.moreButton {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 12px 50px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 4px;

  transition: all ease 0.3s;
}

.moreButton:hover {
  color: #1579ec;
}