:root {
  --color-blue: #3A95FF;
  --color-yellow: #FFAC28;
  --color-dark-black: #1D1D1D;
  --color-black: #2A2F37;
  --color-gray: #424242;
  --color-blue-hover: #166dd0;
  --coloer-yellow-hover: #fd9c00;

  --pd40: 40px 0;
}

body {
  position: relative;
  height: 100%;
  background-color: #f2f2f2;
  font-family: "Jost";
  font-weight: 400;
  font-size: 14px;

  color: #1D1D1D;
}


#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black)
}

