.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
}

.paginationButtom {
  border: none; 
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.paginationButtom:disabled {
  opacity: 60%;
  cursor: default;
}